<!-- app/views/details/_show.html.erb -->
<h2>Detail</h2>
<%if detail %>
<p>Title: <%= detail.title %></p>
<p>Age: <%= detail.age %></p>
<p>Phone: <%= detail.phone %></p>
<p>Email: <%= detail.email %></p>

<%end%>